<p *ngIf="loading; else cakedetails">Loading...</p>
<ng-template #cakedetails>
  <p class="alert alert-danger" *ngIf="errorMessage">Could not get cake: {{errorMessage}}</p>    
  <table class="table" *ngIf="!errorMessage">
    <tbody>
      <tr>
        <td>Name</td><td>{{ cake.name }}</td>
      </tr>
      <tr>
        <td>Comment</td><td>{{ cake.comment }}</td>
      </tr>
      <tr>
        <td>Image</td><td>{{ cake.imageUrl }}</td>
      </tr>
      <tr>
        <td>Rating</td><td>{{ cake.yumFactor }}</td>
      </tr>
    </tbody>
  </table>
</ng-template>

<div class="row">
  <div class="col">
    <hr/>
    <button class="btn btn-secondary" [routerLink]="['']">Back to Cakes</button>
  </div>
</div>