<div>
  <button class="btn btn-primary" [routerLink]="['new']">Add a cake</button>
  <p *ngIf="loading; else cakelist">Loading cakes...</p>
  <ng-template #cakelist>
      <p class="alert alert-danger" *ngIf="errorMessage">Could not get cakes: {{errorMessage}}</p>
      <div class="cake-list">
          <div class="cake" *ngFor="let cake of cakes" [routerLink]="['cake', cake.id]">
            <div class="text-center">
              <img class="img-thumbnail" class="cake-image" (error)="imageErrorHandler($event)" src="{{ cake.imageUrl }}"/>
              <h2>{{ cake.name }}</h2>
            </div>
          </div>
        </div>
  </ng-template>
</div>